<% include partials/header %>
            <div class="row">
                <div class="col">
                    <h1>Welcome to the Cars and Cats Home Page</h1>
                    <p>Navigate using the links below.</p>
                    <ul class="homelist">
                        <li><a href="/cats">View all cats</a></li> | 
                        <li><a href="/cars">View all cars</a></li> | 
                        <li><a href="/cars/new">Add new car</a></li>
                    </ul>
                </div>
            </div>
<% include partials/footer %>